*{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
body{
  padding-top: 5%;

}
button{
  color: black;
  background-color: orangered;
}
.outerDiv{
  height: 50vh;
  border: 1px solid black;
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#states, #districts{
  width: 150px;
}